#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;

}

button.center{
	width: 14rem;
	height: 6rem;
	margin-top: 1rem;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 0.6rem;
	transition:all 0.3s;
	
}
button.center:hover{
	scale:1.2;
	background-color:white;
	
}
button.center:active{
	scale:0.9;
}
#title{
	color:white;
	font-weight:bolder;
	text-align: center;
	padding-bottom:8px;
	border-bottom:2px solid black;
	font-size:6rem;
	text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}
body{
	background-color:gray;
}